@import "reset";
@import "fonts";
@import "fonts";
@import "value";

._container {
	margin: 0 auto;
	max-width: 1170px;
	min-width: 320px;
}

.page-first {
	background: url(./img/Gradient_BG.png) no-repeat, url(./img/BG.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.page-first__nav_container {
	@include flex(row, center, space-between, wrap);
	padding: 5px 15px;
	.nav-logo_wrap {
		width: 10%;
		&:hover {
			@extend %hover_icons;
		}
	}
	.page-first__nav_burger {
		display: none;
	}
	.page-first__nav {
		@include flex(row, center, space-between, wrap);
		list-style: none;
		width: 80%;
		.page-first__nav-link {
			text-decoration: none;
			@extend %font_Raleway_600;
			@include fonts_properties(calc(13px + 0.2vw), calc(15 / 3 * 100%));
			text-transform: uppercase;
			color: inherit;
			padding-bottom: 5px;
			transition: 0.5s;
			&:hover {
				@extend %hover_links;
				border-bottom: 1px solid #e4be8d;
			}
		}
		.page-first__nav-icons {
			@include flex(row, center, space-between, wrap);
			width: 10%;
			> :hover {
				@extend %hover_icons;
			}
		}
	}
}
.page-first__main_container {
	padding-top: calc(110 / 1170 * 100%);
	@include flex(column, center, center, wrap);
	width: calc(795 / 1170 * 100%);
	margin: 0 auto;
	.page-first__upper {
		@extend %font_Kaushan_Script_400;
		@include fonts_properties(calc(24px + 2vw), calc(93 / 64 * 100%));
		color: #ffffff;
	}
	.page-first__title {
		@extend %font_Raleway_700;
		@include fonts_properties(calc(35px + 6vw), calc(176 / 144 * 100%));
		color: #ffffff;
		text-transform: uppercase;
		background: url(./img/divider.png) no-repeat bottom center;
		padding-bottom: calc(44 / 795 * 100%);
		text-align: center;
		flex: 1;
		min-width: 0;
	}
	.page-first__button-wrap {
		@include grid(center, center);
		padding-top: calc(74 / 795 * 100%);
	}
	.page-first__button {
		width: calc(250px + 4vw);
		border: 4px solid #ffffff;
		background: none;
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;
		@include fonts_properties(calc(18px + 0.4vw), calc(52 / 22 * 100%));
		transition: 0.6s;
		@extend %font_Raleway_700;
		&:hover {
			color: #e4be8d;
			background: #ffffff;
			cursor: pointer;
		}
	}
}

.page-first__nav-footer {
	padding: 0 15px 0 15px;
	padding-top: calc(78 / 1170 * 100%);
	width: 100%;
}
.page-first__nav-footer-list {
	@include flex(row, center, space-between, wrap);
}

.page-first__nav-footer-item {
	width: 24%;
	background: url(./img/upper_line_white.png) no-repeat top;
	transition: 0.5s;
	opacity: 0.8;
	color: #f9efcf;
	a {
		@extend %font_Raleway_400;
		@include fonts_properties(calc(18px + 0.2vw), calc(22 / 18 * 100%));
		text-decoration: none;
		text-transform: uppercase;
		@include flex(row, center, stretch, wrap);
		color: inherit;

		p span {
			@include fonts_properties(calc(32px + 0.2vw), calc(80 / 35 * 100%));
			font-weight: 700;
			color: inherit;
		}
		&:hover {
			opacity: 1;
			color: white;
		}
	}
	&:hover {
		background: url(./img/upper_line_red.png) no-repeat left top,
			url(./img/upper_line_white.png) no-repeat top;
	}
}

.page-second {
	padding: 0px 5px;
}

.title {
	@include flex(column, center, center, wrap);
	color: #2d3033;
}

.title_page-second {
	padding-top: calc(41 / 1170 * 100%);
}

.title-upper {
	@extend %font_Kaushan_Script_400;
	font-size: calc(24px + 0.4vw);
	line-height: calc(35 / 14 * 100%);
}
.title-main {
	@extend %font_Raleway_900;
	font-size: calc(24px + 0.6vw);
	line-height: calc(28 / 12 * 100%);
	text-transform: uppercase;
	padding-bottom: calc(24 / 1170 * 100%);
}
.title-main-description {
	@extend %font_Raleway_400;
	font-size: calc(14px + 0.2vw);
	line-height: calc(21 / 18 * 100%);
	color: #000000;
	text-align: center;
	height: 118px;
	display: flex;
	align-items: center;
}

.page-second__main {
	padding-top: calc(58 / 1170 * 100%);
	@include flex(row, center, space-between, wrap);
	width: 100%;
	margin-bottom: calc(108 / 1170 * 100%);

	.page-second__main-card {
		background: #95e1d3;
		width: calc(370 / 1170 * 100%);

		.page-second__bg {
			padding-bottom: calc(338 / 370 * 100%);
			background: url(./img/back_card1_mob.png) no-repeat;
			background-size: cover;
			color: #ffffff;
			position: relative;
			transition: 0.5s;
			&:hover {
				background: url(./img/page_second_card1.png) no-repeat;
				transition: 0.5s;
				background-size: cover;
				transform: translate(-16px, -16px);
				cursor: pointer;
			}
			&:hover .page-second__reg-wrap {
				opacity: 1;
			}

			.page-second__reg-wrap {
				@include flex(column, center, space-between, wrap);
				opacity: 0;
				position: absolute;
				top: calc(50% - 82px / 2);
				width: 100%;
				@include fonts_properties(calc(18px + 0.2vw), calc(21 / 18 * 100%));
				text-transform: uppercase;
				@extend %font_Raleway_500;
				transition: 0.5s;
				:first-child {
					margin-bottom: 10px;
				}
			}
		}
	}

	.page-second__main-card .card-second {
		background: url(./img/back_card2_mob.png) no-repeat;
		background-size: cover;
	}

	.page-second__main-card .card-third {
		background: url(./img/back_card3_mob.png) no-repeat;
		background-size: cover;
	}
}

.page-second__footer {
	background-color: #95e1d3;
	.page-second__footer-wrap {
		@include flex(row, center, center, wrap);
		color: #ffffff;
		div:first-child {
			padding-left: 10px;
		}

		.page-second__footer-item {
			@include flex(column, center, center, wrap);
			width: calc(130px + 4vw);
			height: calc(124px + 4vw);
			@extend %font_Raleway_700;
			border-left: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
			flex: 1 1 auto;
			span:first-child {
				@include fonts_properties(calc(48px + 0.2vw), calc(56 / 48 * 100%));
				&:hover {
					@extend %hover_links;
					border: none;
				}
			}
			span:last-child {
				@include fonts_properties(calc(14px + 0.2vw), calc(34 / 14 * 100%));
				font-weight: 400;
			}
		}
	}
}

.title_services {
	padding-top: calc(42 / 1170 * 100%);
}

.services__main-list {
	@include flex(row, center, space-between, wrap);
	padding-top: calc(90 / 1170 * 100%);
	padding-bottom: calc(58 / 1170 * 100%);
	.services__main-item {
		@include flex(column, flex-end, center, wrap);
		width: 33%;
		@extend %font_Raleway_700;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			margin-bottom: calc(150 / 1170 * 100%);
		}
	}

	.services__main-icon {
		@include flex(row, center, center, wrap);
		width: 100%;
		.services__main-icon-wrap {
			width: 25%;
			&:hover {
				@extend %hover_icons;
			}
		}
		.services__main-title {
			@include fonts_properties(calc(18px + 0.3vw), calc(21 / 18 * 100%));
			text-transform: uppercase;
			width: 75%;
		}
	}
	.services__main-discription {
		@include flex(row, center, flex-start, wrap);
		width: 75%;
		.services__main-upper {
			@include flex(row, center, flex-start, wrap);
			font-weight: 400;
			@include fonts_properties(calc(14px + 0.3vw), calc(16 / 14 * 100%));
			height: calc(45px + 2vw);
		}
	}
}

.devices {
	background: url(./img/bg_gradient_devices.png),
		url(./img/bg_devices.jpg) no-repeat;
	background-size: cover;
}
.title_devices {
	padding-top: calc(42 / 1170 * 100%);
	margin-bottom: calc(59 / 1170 * 100%);
}

.devices__main-tablet {
	padding-bottom: calc(525 / 1170 * 100%);
	background: url(./img/bg_devices_frame_tablet.png) no-repeat center,
		url(./img/bg_devices_inner_tablet.png) no-repeat bottom;
	position: relative;
	background-size: cover, contain;
	width: calc(680 / 1170 * 100%);
	margin: 0 auto;
	border-radius: calc(5px + 1.5vw);
	.devices__main-phone {
		background: url(./img/bg_devices_frame_phone.png) no-repeat center,
			url(./img/bg_devices_inner_phone.png) no-repeat top;
		position: absolute;
		background-size: cover, 97% 97%;
		border-radius: calc(5px + 1.5vw);
		width: calc(200 / 680 * 100%);
		padding-bottom: calc(412 / 680 * 100%);
		top: calc(216 / 525 * 100%);
		left: calc(340 / 680 * 100% + 10vw);
	}
}

.devices_container {
	padding-bottom: calc(30 / 1170 * 100%);
}

.services-categories_container {
	padding-top: calc(42 / 1170 * 100%);
	margin-bottom: calc(84 / 1170 * 100%);
}

.accordion_mogo {
	width: 48%;
	> div {
		margin-bottom: calc(45 / 1170 * 100%);
	}
	> div:last-child {
		margin-bottom: 0;
	}
}

.services-categories__main {
	@include flex(row, stretch, space-between, wrap);
	color: #2d3033;
	padding-bottom: calc(114 / 1170 * 100%);
	.services-categories-img_wrap {
		width: 48%;
		position: relative;
		padding-bottom: calc(483 / 1170 * 100%);
		.services-categories-img {
			@extend %img-adapt;
		}
	}
}

._services-categories-bt {
	@extend %font_Raleway_700;
	@include fonts_properties(calc(14px + 0.3vw), calc(16 / 14 * 100%));
	text-transform: uppercase;
}
._services-categories-icon {
	padding-right: 10px;
}

._services-categories-bt-wrap {
	border: 1px solid #c6cbcd;
}

._services-categories-txt {
	@extend %font_Raleway_400;
	@include fonts_properties(calc(13px + 0.3vw), calc(15 / 13 * 100%));
	margin-bottom: 0;
}

.feedback_cotainer {
	@include flex(row, center, space-between, wrap);
	width: 80%;
	margin: 0 auto;

	.feedback_cotainer-icon {
		width: 20%;
	}
	.feedback_cotainer-main {
		@include flex(column, flex-start, space-between, wrap);
		width: 75%;
		@extend %font_Raleway_500;
		color: #a9afb1;
		@include fonts_properties(calc(14px + 0.5vw), calc(16 / 14 * 100%));
		font-style: italic;
	}
	.feedback_cotainer-sub {
		@include flex(row, center, space-between, wrap);
		width: 60%;
		padding-top: calc(21 / 1170 * 100%);
		.feedback_cotainer-line {
			width: 20%;
		}
		.feedback_name {
			width: 70%;
			@extend %font_Kaushan_Script_400;
			color: #000000;
			@include fonts_properties(calc(16px + 0.8vw), calc(26 / 18 * 100%));
		}
	}
}

.carousel_feedback {
	width: 100%;
	display: flex;
	margin: 0 auto;
	padding: 0 5px;
}

.team__main-wrap {
	@include flex(row, center, space-between, wrap);
	width: 100%;
	margin-bottom: calc(84 / 1170 * 100%);
	.team__main {
		width: calc(370 / 1170 * 100%);
		.team__main-bg-face {
			padding-bottom: calc(424 / 370 * 100%);
			background: url(./img/team_bg_face.png) no-repeat;
			background-size: cover;
			position: relative;
		}
		.team__main-bg-opacity {
			background: url(./img/team_bg_opacity.png) no-repeat;
			padding-bottom: calc(424 / 370 * 100%);
			width: 100%;
			background-size: cover;
			position: absolute;
			opacity: 0;
			transition: 0.8s;
			.team__main-social {
				position: absolute;
				@include flex(row, stretch, stretch, wrap);
				left: calc(50% - 162px / 2);
				top: calc(50% - 42px / 2);
				.team__main-social-link {
					border: 0.5px solid #e4be8d;
					transition: 0.5s;
				}
				.team__main-social-link:hover {
					transform: scale(1.1);
					transition: 0.5s;
				}
			}
		}
		:hover .team__main-bg-opacity {
			opacity: 1;
			transform: translate(-16px, -16px);
			transition: 0.8s;
			cursor: pointer;
		}
		.team__main-bg-face2 {
			background: url(./img/team_face2.png) no-repeat;
			background-size: cover;
		}
		.team__main-bg-face3 {
			background: url(./img/team_face3.png) no-repeat;
			background-size: cover;
		}
	}
}

.team__main-sub {
	@include flex(column, center, center, wrap);
	@extend %font_Raleway_700;
	color: #2d3033;
	text-transform: uppercase;
	.team__main-name {
		@include fonts_properties(calc(18px + 0.4vw), calc(45 / 18 * 100%));
		&:hover {
			@extend %hover_links;
		}
	}
	.team__main-prof {
		@include fonts_properties(calc(14px + 0.3vw), calc(16 / 14 * 100%));
		font-weight: 400;
		&:hover {
			@extend %hover_links;
		}
	}
}
.title_team {
	margin-bottom: calc(42 / 1170 * 100%);
}

.team__back-and-white-container {
	background: #f8f8f8;
}
.team__back-and-white-list {
	@include flex(row, center, space-between, wrap);
	padding: calc(25 / 1170 * 100%) 0;
	.team__back-and-white-item {
		width: 15%;
		@include flex(row, center, center, wrap);
		.team__back-and-white-link:hover {
			@extend %hover_icons;
		}
	}
}

.team__back-and-white-list .team__back-and-white-link {
	display: flex;
	.team__back-and-white-img {
		min-width: 0;
		flex: 1;
	}
}

.title_works {
	margin-bottom: calc(42 / 1170 * 100%);
	padding-top: calc(50 / 1170 * 100%);
}

.grid_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-bottom: calc(126 / 1170 * 100%);

	.grid_container-item {
		padding-bottom: 100%;
	}
	.grid_container-item:nth-child(1) {
		background: url(./img/works_hoody.png) no-repeat;
		background-size: cover;
	}
	.grid_container-item:nth-child(2) {
		background: url(./img/works_pyramid.png) no-repeat;
		background-size: cover;
	}
	.grid_container-item:nth-child(3) {
		grid-column: 3/4;
		grid-row: 1/3;
		background: url(./img/works_sand.png) no-repeat;
		background-size: cover;
	}
	.grid_container-item:nth-child(4) {
		background: url(./img/works_home.png) no-repeat;
		background-size: cover;
	}
	.grid_container-item:nth-child(5) {
		background: url(./img/works_windows.png) no-repeat;
		background-size: cover;
	}
	.grid_container-item:nth-child(6) {
		background: url(./img/works_column.png) no-repeat;
		background-size: cover;
		position: relative;
		&:hover {
			background: url(./img/works_orange.png) no-repeat,
				url(./img/works_column.png) no-repeat;
			background-size: cover;
			transition: 0.8s;
			@extend %hover_links;
		}
		&:hover .works-item-inner {
			opacity: 1;
			transition: 0.8s;
		}
		.works-item-inner {
			position: absolute;
			@include flex(column, center, center, wrap);
			color: #ffffff;
			top: calc(40% - 90px / 2);
			left: 0;
			width: 100%;
			opacity: 0;
			transition: 0.8s;
			.works-item-icon-wrap {
				display: flex;
				width: calc(20px + 3vw);
				.works-item-icon {
					min-width: 0;
					flex: 1;
				}
			}
			.works-item-title {
				@include flex(column, center, center, wrap);
				padding-top: calc(42 / 360 * 100%);
				span:first-child {
					@extend %font_Raleway_700;
					@include fonts_properties(calc(8px + 1.3vw), calc(21 / 10 * 100%));
					text-transform: uppercase;
				}
				span:last-child {
					@extend %font_Raleway_400;
					@include fonts_properties(calc(6px + 1.2vw), calc(16 / 14 * 100%));
					text-transform: uppercase;
				}
			}
		}
	}
	.grid_container-item:nth-child(7) {
		background: url(./img/works_column2.png) no-repeat;
		background-size: cover;
	}
}

.people-feedback {
	margin-top: calc(84 / 1170 * 100%);
	background: url(./img/bg_people_fog.png) no-repeat,
		url(./img/bg_people_comm.jpg) no-repeat;
	background-size: cover;
}

.people-feedback__main {
	@include flex(row, stretch, space-between, wrap);
	padding-bottom: calc(42 / 1170 * 100%);
}
.people-feedback__main-list {
	width: 49%;
	padding-top: calc(42 / 1170 * 100%);

	.people-feedback__main-item {
		@include flex(row, stretch, space-between, wrap);
		.people-feedback__main-img-wrap {
			@include flex(column, flex-start, flex-start, wrap);
			flex: 0 1 30%;
			&:hover {
				@extend %hover_icons;
			}
		}
		.people-feedback__main-content {
			@include flex(column, stretch, space-between, wrap);
			flex: 0 1 69%;
			@extend %font_Raleway_400;
			text-transform: uppercase;
			.people-feedback__main-name {
				font-weight: 700;
				@include fonts_properties(calc(18px + 0.5vw), calc(21 / 10 * 100%));
				&:hover {
					@extend %hover_links;
				}
			}
			.people-feedback__main-field {
				@include flex(column, stretch, flex-start, wrap);
				@include fonts_properties(calc(14px + 0.5vw), calc(16 / 10 * 100%));
				padding-bottom: calc(32 / (1170 * (0.49 * 0.69)) * 100%);
				margin-bottom: calc(32 / (1170 * (0.49 * 0.69)) * 100%);
				background: url(./img/feedback_underline.png) no-repeat bottom left;
			}
			.people-feedback__main-about {
				@include fonts_properties(calc(14px + 0.4vw), calc(16 / 14 * 100%));
				text-transform: none;
				padding: calc(20 / (1170 * (0.49 * 0.69)) * 100%) 0;
			}
		}
	}
}

.title_stories {
	padding-top: calc(84 / 1170 * 100%);
	margin-bottom: calc(42 / 1170 * 100%);
}

.stories__main-list {
	@include flex(row, stretch, space-between, wrap);
	flex: 1 1 100%;
	margin-bottom: calc(84 / 1170 * 100%);
	.stories__main-item {
		@include flex(column, stretch, space-between, wrap);
		flex: 0 1 32%;
		margin-right: calc(10 / 1170 * 100%);
		&:last-child {
			margin-right: 0;
		}
		.stories__img-wrap {
			position: relative;
			padding-bottom: calc(253 / (1170 * 0.33) * 100%);
			.stories__img {
				@extend %img-adapt;
				&:hover {
					@extend %hover_icons;
				}
			}
			&::before {
				content: "15";
				position: absolute;
				background: #95e1d3;
				z-index: 2;
				@extend %font_Raleway_700;
				@include fonts_properties(calc(24px + 0.3vw), calc(24 / 22 * 100%));
				width: calc(80 / 370 * 100%);
				height: calc(42 / 253 * 100%);
				@include flex(column, center, flex-end, wrap);
				color: #ffffff;
				top: calc(148 / 253 * 100%);
				left: calc(-14 / 370 * 100%);
			}
			&::after {
				content: "JAN";
				position: absolute;
				background: #95e1d3;
				z-index: 2;
				@extend %font_Raleway_700;
				font-weight: 400;
				@include fonts_properties(calc(12px + 0.3vw), calc(15 / 8 * 100%));
				width: calc(80 / 370 * 100%);
				height: calc(42 / 253 * 100%);
				@include flex(column, center, flex-start, wrap);
				color: #ffffff;
				top: calc(188 / 253 * 100%);
				left: calc(-14 / 370 * 100%);
			}
		}
		.stories__txt {
			@include flex(column, stretch, space-between, wrap);
			padding-top: calc(30 / (1170 * 0.33) * 100%);
			.stories__title {
				@extend %font_Raleway_700;
				@include fonts_properties(calc(18px + 0.4vw), calc(21 / 18 * 100%));
				text-transform: uppercase;
			}

			.stories__article {
				@extend %font_Raleway_400;
				@include fonts_properties(calc(13px + 0.4vw), calc(16 / 14 * 100%));
			}
		}
		.stories__statistic-list {
			@include flex(row, stretch, stretch, wrap);
			.stories__statistic-item {
				@include flex(row, center, stretch, wrap);
				flex: 0 1 40%;
				.stories__statistic-scores {
					padding-left: calc(30 / (1170 * 0.33) * 100%);
					@extend %font_Raleway_400;
					@include fonts_properties(calc(12px + 0.1vw), calc(14 / 12 * 100%));
					&:hover {
						@extend %hover_icons;
					}
				}
			}
		}
	}
}

.title-upper_stories {
	@include flex(column, center, center, wrap);
	:hover {
		@extend %hover_icons;
	}
}
.title-main_last {
	color: #f38281;
	margin-bottom: 2vw;
}
.title_last {
	padding: 42px 0;
	background: url(./img/bg_last_fog.png), url(./img/bg_last_main.jpg);
	background-size: cover;
}
.title-underline_last {
	@include flex(column, center, center, wrap);
}
._container-footer {
	max-width: 1170px;
	margin: 0 auto;
}

.footer-list {
	color: #2d3033;
	@include flex(row, stretch, stretch, nowrap);
	margin-bottom: calc(42 / 1170 * 100%);
	flex: 1 1 auto;
	padding: 0 5px;
	.footer_item {
		@include flex(column, stretch, space-between, nowrap);
		padding-top: calc(78 / 1170 * 100%);
		@extend %font_Raleway_400;
		margin-right: 10px;
		&:nth-child(1) {
			flex: 0 1 32%;
		}
		&:nth-child(2) {
			flex: 0 1 39%;
			min-width: 310px;
		}
		&:nth-child(3) {
			flex: 0 1 26%;
			justify-content: stretch;
		}
		.footer_logo:hover {
			@extend %hover_icons;
		}

		.footer_description {
			@include fonts_properties(calc(14px + 0.3vw), calc(16 / 12 * 100%));
			color: #c6cbcd;
			padding: 10px 0;
		}
		.footer_followers {
			@include fonts_properties(calc(18px + 0.1vw), calc(22 / 18 * 100%));
			padding: calc(15 / (1170 * 0.32) * 100%) 0;
			text-transform: uppercase;
			border-bottom: 1px solid #c6cbcd;
			font-style: italic;
			span {
				font-weight: 700;
				@include fonts_properties(calc(30px + 0.1vw), calc(22 / 18 * 100%));
				text-transform: uppercase;
				font-style: normal;
				&:last-child {
					@include fonts_properties(calc(18px + 0.1vw), calc(22 / 18 * 100%));
					padding-right: 5px;
				}
			}
		}
		.footer_socials {
			@include flex(row, center, space-between, wrap);
			margin-bottom: calc(37 / (1170 * 0.32) * 100%);
			.footer_social-txt {
				width: 20%;
				font-style: italic;
				@extend %font_Raleway_400;
				@include fonts_properties(calc(12px + 0.1vw), calc(14 / 9 * 100%));
			}
			.footer_socials-list {
				width: 70%;
				display: grid;
				grid-template-columns: repeat(8, 1fr);
				align-items: center;
				.footer_socials-item:hover {
					@extend %hover_icons;
				}
			}
		}
		.footer__reg {
			display: grid;
			grid-template-columns:
				calc(234 / (1170 * 0.32) * 100%)
				calc(133 / (1170 * 0.32) * 100%);
			color: #c6cbcd;
			.footer_mail {
				background: #ffffff;
				border: 1px solid #c6cbcd;
				padding: 0 10px;
			}
			.footer_mail::placeholder {
				@extend %font_Raleway_400;
				@include fonts_properties(calc(14px + 0.3vw), calc(16 / 9 * 100%));
				color: #c6cbcd;
				text-align: center;
			}

			.footer_bt {
				background: #95e1d3;
				border: none;
				@extend %font_Raleway_700;
				@include fonts_properties(calc(14px + 0.5vw), calc(16 / 6 * 100%));
				color: #ffffff;
				.footer_logo:hover {
					@extend %hover_icons;
				}
			}
		}
		.footer__blogs-list {
			@include flex(row, stretch, space-between, wrap);
			.footer__blogs-img-wrap {
				position: relative;
				width: 43%;
				padding-bottom: calc(120 / (1170 * 0.43) * 100%);
				margin-bottom: 10px;
				:hover {
					@extend %hover_icons;
				}
				.footer__blogs-img {
					@extend %img-adapt;
				}
			}
			.no-margin {
				margin-bottom: 0;
			}
			.footer__blogs-item {
				@include flex(column, stretch, space-evenly, wrap);
				width: 52%;
				.footer__blogs-txt {
					@extend %font_Raleway_700;
					@include fonts_properties(calc(14px + 0.2vw), calc(16 / 13 * 100%));
					text-transform: uppercase;
				}
				.footer__blogs-sub {
					@extend %font_Raleway_400;
					@include fonts_properties(calc(12px + 0.3vw), calc(12 / 8 * 100%));
					padding: 10px 0;
				}
			}
		}
	}

	.footer__blogs {
		@extend %font_Raleway_700;
		@include fonts_properties(calc(18px + 0.5vw), calc(21 / 15 * 100%));
		text-transform: uppercase;
		height: 18%;
		@include flex(column, stretch, center, wrap);
	}
}
.footer__instagram-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	.footer__instagram-img-wrap {
		position: relative;
		padding-bottom: calc(88 / 90 * 100%);
		.footer__istagram-img {
			@extend %img-adapt;
		}
		:hover {
			@extend %hover_icons;
		}
	}
}
.footer__instagram-all {
	flex: 1;
	@include flex(column, stretch, center, wrap);
	.footer__instagram-link {
		@extend %font_Raleway_400;
		@include fonts_properties(calc(12px + 0.5vw), calc(14 / 12 * 100%));
		color: #2d3033;
		padding-top: 10px;
		text-transform: uppercase;
		&:hover {
			@extend %hover_links;
		}
	}
}

.footer-list .footer_item .footer_socials {
	padding-top: 5px;
}

@import "media";

$carousel-control-prev-icon-bg: url(./img/arrow_down.svg);
