@import "reset";
@import "fonts";
@import "fonts";
@import "value";

._container {
	margin: 0 auto;
	max-width: 1170px;
	min-width: 320px;
}

.page-first {
	background: url(./img/Gradient_BG.png) no-repeat, url(./img/BG.jpg);
	background-size: cover;
	background-position: center;
	color: white;
}

.page-first__nav_container {
	@include flex(row, center, space-between, wrap);
	padding: 5px 15px;
	.nav-logo_wrap {
		width: 10%;
		&:hover {
			@extend %hover_icons;
		}
	}
	.page-first__nav_burger {
		display: none;
	}
	.page-first__nav {
		@include flex(row, center, space-between, wrap);
		list-style: none;
		width: 80%;
		.page-first__nav-link {
			text-decoration: none;
			@extend %font_Raleway_600;
			@include fonts_properties(calc(13px + 0.2vw), calc(15 / 3 * 100%));
			text-transform: uppercase;
			color: inherit;
			padding-bottom: 5px;
			transition: 0.5s;
			&:hover {
				@extend %hover_links;
				border-bottom: 1px solid #e4be8d;
			}
		}
		.page-first__nav-icons {
			@include flex(row, center, space-between, wrap);
			width: 10%;
			> :hover {
				@extend %hover_icons;
			}
		}
	}
}
.page-first__main_container {
	padding-top: calc(110 / 1170 * 100%);
	@include flex(column, center, center, wrap);
	width: calc(795 / 1170 * 100%);
	margin: 0 auto;
	.page-first__upper {
		@extend %font_Kaushan_Script_400;
		@include fonts_properties(calc(24px + 2vw), calc(93 / 64 * 100%));
		color: #ffffff;
	}
	.page-first__title {
		@extend %font_Raleway_700;
		@include fonts_properties(calc(35px + 6vw), calc(176 / 144 * 100%));
		color: #ffffff;
		text-transform: uppercase;
		background: url(./img/divider.png) no-repeat bottom center;
		padding-bottom: calc(44 / 795 * 100%);
		text-align: center;
		flex: 1;
		min-width: 0;
	}
	.page-first__button-wrap {
		@include grid(center, center);
		padding-top: calc(74 / 795 * 100%);
	}
	.page-first__button {
		width: calc(250px + 4vw);
		border: 4px solid #ffffff;
		background: none;
		text-transform: uppercase;
		color: #ffffff;
		text-decoration: none;
		@include fonts_properties(calc(18px + 0.4vw), calc(52 / 22 * 100%));
		transition: 0.6s;
		@extend %font_Raleway_700;
		&:hover {
			color: #e4be8d;
			background: #ffffff;
			cursor: pointer;
		}
	}
}

.page-first__nav-footer {
	padding: 0 15px 0 15px;
	padding-top: calc(78 / 1170 * 100%);
	width: 100%;
}
.page-first__nav-footer-list {
	@include flex(row, center, space-between, wrap);
}

.page-first__nav-footer-item {
	width: 24%;
	background: url(./img/upper_line_white.png) no-repeat top;
	transition: 0.5s;
	opacity: 0.8;
	color: #f9efcf;
	a {
		@extend %font_Raleway_400;
		@include fonts_properties(calc(18px + 0.2vw), calc(22 / 18 * 100%));
		text-decoration: none;
		text-transform: uppercase;
		@include flex(row, center, stretch, wrap);
		color: inherit;

		p span {
			@include fonts_properties(calc(32px + 0.2vw), calc(80 / 35 * 100%));
			font-weight: 700;
			color: inherit;
		}
		&:hover {
			opacity: 1;
			color: white;
		}
	}
	&:hover {
		background: url(./img/upper_line_red.png) no-repeat left top,
			url(./img/upper_line_white.png) no-repeat top;
	}
}

.page-second {
	padding: 0px 5px;
}

.title {
	@include flex(column, center, center, wrap);
	color: #2d3033;
}

.title_page-second {
	padding-top: calc(41 / 1170 * 100%);
}

.title-upper {
	@extend %font_Kaushan_Script_400;
	font-size: calc(24px + 0.4vw);
	line-height: calc(35 / 14 * 100%);
}
.title-main {
	@extend %font_Raleway_900;
	font-size: calc(24px + 0.6vw);
	line-height: calc(28 / 12 * 100%);
	text-transform: uppercase;
	padding-bottom: calc(24 / 1170 * 100%);
}
.title-main-description {
	@extend %font_Raleway_400;
	font-size: calc(14px + 0.2vw);
	line-height: calc(21 / 18 * 100%);
	color: #000000;
	text-align: center;
	height: 118px;
	display: flex;
	align-items: center;
}

.page-second__main {
	padding-top: calc(58 / 1170 * 100%);
	@include flex(row, center, space-between, wrap);
	width: 100%;
	margin-bottom: calc(108 / 1170 * 100%);

	.page-second__main-card {
		background: #95e1d3;
		width: calc(370 / 1170 * 100%);

		.page-second__bg {
			padding-bottom: calc(338 / 370 * 100%);
			background: url(./img/back_card1_mob.png) no-repeat;
			background-size: cover;
			color: #ffffff;
			position: relative;
			transition: 0.5s;
			&:hover {
				background: url(./img/page_second_card1.png) no-repeat;
				transition: 0.5s;
				background-size: cover;
				transform: translate(-16px, -16px);
				cursor: pointer;
			}
			&:hover .page-second__reg-wrap {
				opacity: 1;
			}

			.page-second__reg-wrap {
				@include flex(column, center, space-between, wrap);
				opacity: 0;
				position: absolute;
				top: calc(50% - 82px / 2);
				width: 100%;
				@include fonts_properties(calc(18px + 0.2vw), calc(21 / 18 * 100%));
				text-transform: uppercase;
				@extend %font_Raleway_500;
				transition: 0.5s;
				:first-child {
					margin-bottom: 10px;
				}
			}
		}
	}

	.page-second__main-card .card-second {
		background: url(./img/back_card2_mob.png) no-repeat;
		background-size: cover;
	}

	.page-second__main-card .card-third {
		background: url(./img/back_card3_mob.png) no-repeat;
		background-size: cover;
	}
}

.page-second__footer {
	background-color: #95e1d3;
	.page-second__footer-wrap {
		@include flex(row, center, center, wrap);
		color: #ffffff;
		div:first-child {
			padding-left: 10px;
		}

		.page-second__footer-item {
			@include flex(column, center, center, wrap);
			width: calc(130px + 4vw);
			height: calc(124px + 4vw);
			@extend %font_Raleway_700;
			border-left: 1px solid #ffffff;
			border-right: 1px solid #ffffff;
			flex: 1 1 auto;
			span:first-child {
				@include fonts_properties(calc(48px + 0.2vw), calc(56 / 48 * 100%));
				&:hover {
					@extend %hover_links;
					border: none;
				}
			}
			span:last-child {
				@include fonts_properties(calc(14px + 0.2vw), calc(34 / 14 * 100%));
				font-weight: 400;
			}
		}
	}
}

.title_services {
	padding-top: calc(42 / 1170 * 100%);
}

.services__main-list {
	@include flex(row, center, space-between, wrap);
	padding-top: calc(90 / 1170 * 100%);
	padding-bottom: calc(58 / 1170 * 100%);
	.services__main-item {
		@include flex(column, flex-end, center, wrap);
		width: 33%;
		@extend %font_Raleway_700;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			margin-bottom: calc(150 / 1170 * 100%);
		}
	}

	.services__main-icon {
		@include flex(row, center, center, wrap);
		width: 100%;
		.services__main-icon-wrap {
			width: 25%;
			&:hover {
				@extend %hover_icons;
			}
		}
		.services__main-title {
			@include fonts_properties(calc(18px + 0.3vw), calc(21 / 18 * 100%));
			text-transform: uppercase;
			width: 75%;
		}
	}
	.services__main-discription {
		@include flex(row, center, flex-start, wrap);
		width: 75%;
		.services__main-upper {
			@include flex(row, center, flex-start, wrap);
			font-weight: 400;
			@include fonts_properties(calc(14px + 0.3vw), calc(16 / 14 * 100%));
			height: calc(45px + 2vw);
		}
	}
}

.devices {
	background: url(./img/bg_gradient_devices.png),
		url(./img/bg_devices.jpg) no-repeat;
	background-size: cover;
}
.title_devices {
	padding-top: calc(42 / 1170 * 100%);
	margin-bottom: calc(59 / 1170 * 100%);
}

.devices__main-tablet {
	padding-bottom: calc(525 / 1170 * 100%);
	background: url(./img/bg_devices_frame_tablet.png) no-repeat center,
		url(./img/bg_devices_inner_tablet.png) no-repeat bottom;
	position: relative;
	background-size: cover, contain;
	width: calc(680 / 1170 * 100%);
	margin: 0 auto;
	border-radius: calc(5px + 1.5vw);
	.devices__main-phone {
		background: url(./img/bg_devices_frame_phone.png) no-repeat center,
			url(./img/bg_devices_inner_phone.png) no-repeat top;
		position: absolute;
		background-size: cover, 97% 97%;
		border-radius: calc(5px + 1.5vw);
		width: calc(200 / 680 * 100%);
		padding-bottom: calc(412 / 680 * 100%);
		top: calc(216 / 525 * 100%);
		left: calc(340 / 680 * 100% + 10vw);
	}
}

.devices_container {
	padding-bottom: calc(30 / 1170 * 100%);
}

.services-categories_container {
	padding-top: calc(42 / 1170 * 100%);
	margin-bottom: calc(84 / 1170 * 100%);
}

.accordion_mogo {
	width: 48%;
	> div {
		margin-bottom: calc(45 / 1170 * 100%);
	}
	> div:last-child {
		margin-bottom: 0;
	}
}

.services-categories__main {
	@include flex(row, stretch, space-between, wrap);
	color: #2d3033;
	padding-bottom: calc(114 / 1170 * 100%);
	.services-categories-img_wrap {
		width: 48%;
		position: relative;
		padding-bottom: calc(483 / 1170 * 100%);
		.services-categories-img {
			@extend %img-adapt;
		}
	}
}

._services-categories-bt {
	@extend %font_Raleway_700;
	@include fonts_properties(calc(14px + 0.3vw), calc(16 / 14 * 100%));
	text-transform: uppercase;
}
._services-categories-icon {
	padding-right: 10px;
}

._services-categories-bt-wrap {
	border: 1px solid #c6cbcd;
}

._services-categories-txt {
	@extend %font_Raleway_400;
	@include fonts_properties(calc(13px + 0.3vw), calc(15 / 13 * 100%));
	margin-bottom: 0;
}

.feedback_cotainer {
	@include flex(row, center, space-between, wrap);
	width: 80%;
	margin: 0 auto;

	.feedback_cotainer-icon {
		width: 20%;
	}
	.feedback_cotainer-main {
		@include flex(column, flex-start, space-between, wrap);
		width: 75%;
		@extend %font_Raleway_500;
		color: #a9afb1;
		@include fonts_properties(calc(14px + 0.5vw), calc(16 / 14 * 100%));
		font-style: italic;
	}
	.feedback_cotainer-sub {
		@include flex(row, center, space-between, wrap);
		width: 60%;
		padding-top: calc(21 / 1170 * 100%);
		.feedback_cotainer-line {
			width: 20%;
		}
		.feedback_name {
			width: 70%;
			@extend %font_Kaushan_Script_400;
			color: #000000;
			@include fonts_properties(calc(16px + 0.8vw), calc(26 / 18 * 100%));
		}
	}
}

.carousel_feedback {
	width: 100%;
	display: flex;
	margin: 0 auto;
	padding: 0 5px;
}

.team__main-wrap {
	@include flex(row, center, space-between, wrap);
	width: 100%;
	.team__main {
		width: calc(370 / 1170 * 100%);
		.team__main-bg-face {
			padding-bottom: calc(424 / 370 * 100%);
			background: url(./img/team_bg_face.png) no-repeat;
			background-size: cover;
			position: relative;
		}
		.team__main-bg-opacity {
			background: url(./img/team_bg_opacity.png) no-repeat;
			padding-bottom: calc(424 / 370 * 100%);
			width: 100%;
			background-size: cover;
			position: absolute;
			opacity: 0;
			transition: 0.8s;
			.team__main-social {
				position: absolute;
				@include flex(row, stretch, stretch, wrap);
				left: calc(50% - 162px / 2);
				top: calc(50% - 42px / 2);
				.team__main-social-link {
					border: 0.5px solid #e4be8d;
					transition: 0.5s;
				}
				.team__main-social-link:hover {
					transform: scale(1.1);
					transition: 0.5s;
				}
			}
		}
		:hover .team__main-bg-opacity {
			opacity: 1;
			transform: translate(-16px, -16px);
			transition: 0.8s;
			cursor: pointer;
		}
		.team__main-bg-face2 {
			background: url(./img/team_face2.png) no-repeat;
			background-size: cover;
		}
		.team__main-bg-face3 {
			background: url(./img/team_face3.png) no-repeat;
			background-size: cover;
		}
	}
}

.team__main-sub {
	@include flex(column, center, center, wrap);
	@extend %font_Raleway_700;
	color: #2d3033;
	text-transform: uppercase;
	.team__main-name {
		@include fonts_properties(calc(18px + 0.4vw), calc(45 / 18 * 100%));
		&:hover {
			@extend %hover_links;
		}
	}
	.team__main-prof {
		@include fonts_properties(calc(14px + 0.3vw), calc(16 / 14 * 100%));
		font-weight: 400;
		&:hover {
			@extend %hover_links;
		}
	}
}
.title_team {
	margin-bottom: calc(42 / 1170 * 100%);
}

.team__back-and-white-list {
	@include flex(row, center, space-between, wrap);
	padding-top: calc(84 / 1170 * 100%);
	margin-bottom: calc(84 / 1170 * 100%);
	.team__back-and-white-item {
		width: 15%;
		@include flex(row, center, center, wrap);
		.team__back-and-white-link:hover {
			@extend %hover_icons;
		}
	}
}

._container-footer {
	height: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.footer_container {
	.footer_rights {
		text-align: center;
		border-top: 1px solid #c6cbcd;
		font-family: "Raleway";
		font-style: normal;
		font-weight: 700;
		font-size: 13px;
		line-height: 50px;
		height: 50px;
		text-transform: uppercase;
		color: #2d3033;
	}
}

@import "media";

$carousel-control-prev-icon-bg: url(./img/arrow_down.svg);
