@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("./fonts/raleway-v28-latin-regular.woff") format("woff"), url("./fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("./fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/raleway-v28-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-500.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-500.woff2") format("woff2"), url("./fonts/raleway-v28-latin-500.woff") format("woff"), url("./fonts/raleway-v28-latin-500.ttf") format("truetype"), url("./fonts/raleway-v28-latin-500.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/raleway-v28-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-600.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-600.woff2") format("woff2"), url("./fonts/raleway-v28-latin-600.woff") format("woff"), url("./fonts/raleway-v28-latin-600.ttf") format("truetype"), url("./fonts/raleway-v28-latin-600.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-700.woff2") format("woff2"), url("./fonts/raleway-v28-latin-700.woff") format("woff"), url("./fonts/raleway-v28-latin-700.ttf") format("truetype"), url("./fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/raleway-v28-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-900.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-900.woff2") format("woff2"), url("./fonts/raleway-v28-latin-900.woff") format("woff"), url("./fonts/raleway-v28-latin-900.ttf") format("truetype"), url("./fonts/raleway-v28-latin-900.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("./fonts/montserrat-v25-latin-regular.woff") format("woff"), url("./fonts/montserrat-v25-latin-regular.ttf") format("truetype"), url("./fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("./fonts/montserrat-v25-latin-700.woff") format("woff"), url("./fonts/montserrat-v25-latin-700.ttf") format("truetype"), url("./fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* kaushan-script-regular - latin */
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/kaushan-script-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/kaushan-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/kaushan-script-v14-latin-regular.woff2") format("woff2"), url("./fonts/kaushan-script-v14-latin-regular.woff") format("woff"), url("./fonts/kaushan-script-v14-latin-regular.ttf") format("truetype"), url("./fonts/kaushan-script-v14-latin-regular.svg#KaushanScript") format("svg"); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-regular.woff2") format("woff2"), url("./fonts/raleway-v28-latin-regular.woff") format("woff"), url("./fonts/raleway-v28-latin-regular.ttf") format("truetype"), url("./fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/raleway-v28-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-500.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-500.woff2") format("woff2"), url("./fonts/raleway-v28-latin-500.woff") format("woff"), url("./fonts/raleway-v28-latin-500.ttf") format("truetype"), url("./fonts/raleway-v28-latin-500.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-600 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/raleway-v28-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-600.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-600.woff2") format("woff2"), url("./fonts/raleway-v28-latin-600.woff") format("woff"), url("./fonts/raleway-v28-latin-600.ttf") format("truetype"), url("./fonts/raleway-v28-latin-600.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-700.woff2") format("woff2"), url("./fonts/raleway-v28-latin-700.woff") format("woff"), url("./fonts/raleway-v28-latin-700.ttf") format("truetype"), url("./fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-900 - latin */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/raleway-v28-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/raleway-v28-latin-900.eot?#iefix") format("embedded-opentype"), url("./fonts/raleway-v28-latin-900.woff2") format("woff2"), url("./fonts/raleway-v28-latin-900.woff") format("woff"), url("./fonts/raleway-v28-latin-900.ttf") format("truetype"), url("./fonts/raleway-v28-latin-900.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/montserrat-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("./fonts/montserrat-v25-latin-regular.woff") format("woff"), url("./fonts/montserrat-v25-latin-regular.ttf") format("truetype"), url("./fonts/montserrat-v25-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/montserrat-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("./fonts/montserrat-v25-latin-700.woff2") format("woff2"), url("./fonts/montserrat-v25-latin-700.woff") format("woff"), url("./fonts/montserrat-v25-latin-700.ttf") format("truetype"), url("./fonts/montserrat-v25-latin-700.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* kaushan-script-regular - latin */
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/kaushan-script-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("./fonts/kaushan-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/kaushan-script-v14-latin-regular.woff2") format("woff2"), url("./fonts/kaushan-script-v14-latin-regular.woff") format("woff"), url("./fonts/kaushan-script-v14-latin-regular.ttf") format("truetype"), url("./fonts/kaushan-script-v14-latin-regular.svg#KaushanScript") format("svg"); /* Legacy iOS */
}
.page-first__nav_container .page-first__nav .page-first__nav-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
}

.footer-list .footer_item .footer__reg .footer_mail::-moz-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
}

.footer-list .footer_item .footer__reg .footer_mail:-ms-input-placeholder {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
}

.footer__instagram-all .footer__instagram-link, .footer-list .footer_item .footer__blogs-list .footer__blogs-item .footer__blogs-sub, .footer-list .footer_item .footer__reg .footer_mail::placeholder, .footer-list .footer_item .footer_socials .footer_social-txt, .footer-list .footer_item, .stories__main-list .stories__main-item .stories__statistic-list .stories__statistic-item .stories__statistic-scores, .stories__main-list .stories__main-item .stories__txt .stories__article, .people-feedback__main-list .people-feedback__main-item .people-feedback__main-content, .grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-title span:last-child, ._services-categories-txt, .title-main-description, .page-first__nav-footer-item a {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
}

.feedback_cotainer .feedback_cotainer-main, .page-second__main .page-second__main-card .page-second__bg .page-second__reg-wrap {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
}

.footer-list .footer__blogs, .footer-list .footer_item .footer__blogs-list .footer__blogs-item .footer__blogs-txt, .footer-list .footer_item .footer__reg .footer_bt, .stories__main-list .stories__main-item .stories__txt .stories__title, .stories__main-list .stories__main-item .stories__img-wrap::after, .stories__main-list .stories__main-item .stories__img-wrap::before, .grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-title span:first-child, .team__main-sub, ._services-categories-bt, .services__main-list .services__main-item, .page-second__footer .page-second__footer-wrap .page-second__footer-item, .page-first__main_container .page-first__button, .page-first__main_container .page-first__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
}

.title-main {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
}

.feedback_cotainer .feedback_cotainer-sub .feedback_name, .title-upper, .page-first__main_container .page-first__upper {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
}

.footer__instagram-all .footer__instagram-link:hover, .grid_container .grid_container-item:nth-child(6):hover, .team__main-sub .team__main-prof:hover, .team__main-sub .team__main-name:hover, .page-second__footer .page-second__footer-wrap .page-second__footer-item span:first-child:hover, .page-first__nav_container .page-first__nav .page-first__nav-link:hover {
  color: #e4be8d;
  transition: 0.5s;
  cursor: pointer;
}

.team__back-and-white-list .team__back-and-white-item .team__back-and-white-link:hover, .services__main-list .services__main-icon .services__main-icon-wrap:hover, .page-first__nav_container .page-first__nav .page-first__nav-icons > :hover, .page-first__nav_container .nav-logo_wrap:hover {
  transition: 0.5s;
  opacity: 0.8;
  cursor: pointer;
}

.footer__instagram-list .footer__instagram-img-wrap .footer__istagram-img, .footer-list .footer_item .footer__blogs-list .footer__blogs-img-wrap .footer__blogs-img, .stories__main-list .stories__main-item .stories__img-wrap .stories__img, .services-categories__main .services-categories-img_wrap .services-categories-img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

._container {
  margin: 0 auto;
  max-width: 1170px;
  min-width: 320px;
}

.page-first {
  background: url(./img/Gradient_BG.png) no-repeat, url(./img/BG.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.page-first__nav_container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 15px;
}
.page-first__nav_container .nav-logo_wrap {
  width: 10%;
}
.page-first__nav_container .page-first__nav_burger {
  display: none;
}
.page-first__nav_container .page-first__nav {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  width: 80%;
}
.page-first__nav_container .page-first__nav .page-first__nav-link {
  text-decoration: none;
  font-size: calc(13px + 0.2vw);
  line-height: 500%;
  text-transform: uppercase;
  color: inherit;
  padding-bottom: 5px;
  transition: 0.5s;
}
.page-first__nav_container .page-first__nav .page-first__nav-link:hover {
  border-bottom: 1px solid #e4be8d;
}
.page-first__nav_container .page-first__nav .page-first__nav-icons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 10%;
}
.page-first__main_container {
  padding-top: 9.4017094017%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 67.9487179487%;
  margin: 0 auto;
}
.page-first__main_container .page-first__upper {
  font-size: calc(24px + 2vw);
  line-height: 145.3125%;
  color: #ffffff;
}
.page-first__main_container .page-first__title {
  font-size: calc(35px + 6vw);
  line-height: 122.2222222222%;
  color: #ffffff;
  text-transform: uppercase;
  background: url(./img/divider.png) no-repeat bottom center;
  padding-bottom: 5.534591195%;
  text-align: center;
  flex: 1;
  min-width: 0;
}
.page-first__main_container .page-first__button-wrap {
  display: grid;
  justify-items: center;
  align-content: center;
  padding-top: 9.3081761006%;
}
.page-first__main_container .page-first__button {
  width: calc(250px + 4vw);
  border: 4px solid #ffffff;
  background: none;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  font-size: calc(18px + 0.4vw);
  line-height: 236.3636363636%;
  transition: 0.6s;
}
.page-first__main_container .page-first__button:hover {
  color: #e4be8d;
  background: #ffffff;
  cursor: pointer;
}

.page-first__nav-footer {
  padding: 0 15px 0 15px;
  padding-top: 6.6666666667%;
  width: 100%;
}

.page-first__nav-footer-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.page-first__nav-footer-item {
  width: 24%;
  background: url(./img/upper_line_white.png) no-repeat top;
  transition: 0.5s;
  opacity: 0.8;
  color: #f9efcf;
}
.page-first__nav-footer-item a {
  font-size: calc(18px + 0.2vw);
  line-height: 122.2222222222%;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  color: inherit;
}
.page-first__nav-footer-item a p span {
  font-size: calc(32px + 0.2vw);
  line-height: 228.5714285714%;
  font-weight: 700;
  color: inherit;
}
.page-first__nav-footer-item a:hover {
  opacity: 1;
  color: white;
}
.page-first__nav-footer-item:hover {
  background: url(./img/upper_line_red.png) no-repeat left top, url(./img/upper_line_white.png) no-repeat top;
}

.page-second {
  padding: 0px 5px;
}

.title {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #2d3033;
}

.title_page-second {
  padding-top: 3.5042735043%;
}

.title-upper {
  font-size: calc(24px + 0.4vw);
  line-height: 250%;
}

.title-main {
  font-size: calc(24px + 0.6vw);
  line-height: 233.3333333333%;
  text-transform: uppercase;
  padding-bottom: 2.0512820513%;
}

.title-main-description {
  font-size: calc(14px + 0.2vw);
  line-height: 116.6666666667%;
  color: #000000;
  text-align: center;
  height: 118px;
  display: flex;
  align-items: center;
}

.page-second__main {
  padding-top: 4.9572649573%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 9.2307692308%;
}
.page-second__main .page-second__main-card {
  background: #95e1d3;
  width: 31.6239316239%;
}
.page-second__main .page-second__main-card .page-second__bg {
  padding-bottom: 91.3513513514%;
  background: url(./img/back_card1_mob.png) no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  transition: 0.5s;
}
.page-second__main .page-second__main-card .page-second__bg:hover {
  background: url(./img/page_second_card1.png) no-repeat;
  transition: 0.5s;
  background-size: cover;
  transform: translate(-16px, -16px);
  cursor: pointer;
}
.page-second__main .page-second__main-card .page-second__bg:hover .page-second__reg-wrap {
  opacity: 1;
}
.page-second__main .page-second__main-card .page-second__bg .page-second__reg-wrap {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  opacity: 0;
  position: absolute;
  top: calc(50% - 41px);
  width: 100%;
  font-size: calc(18px + 0.2vw);
  line-height: 116.6666666667%;
  text-transform: uppercase;
  transition: 0.5s;
}
.page-second__main .page-second__main-card .page-second__bg .page-second__reg-wrap :first-child {
  margin-bottom: 10px;
}
.page-second__main .page-second__main-card .card-second {
  background: url(./img/back_card2_mob.png) no-repeat;
  background-size: cover;
}
.page-second__main .page-second__main-card .card-third {
  background: url(./img/back_card3_mob.png) no-repeat;
  background-size: cover;
}

.page-second__footer {
  background-color: #95e1d3;
}
.page-second__footer .page-second__footer-wrap {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
}
.page-second__footer .page-second__footer-wrap div:first-child {
  padding-left: 10px;
}
.page-second__footer .page-second__footer-wrap .page-second__footer-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(130px + 4vw);
  height: calc(124px + 4vw);
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  flex: 1 1 auto;
}
.page-second__footer .page-second__footer-wrap .page-second__footer-item span:first-child {
  font-size: calc(48px + 0.2vw);
  line-height: 116.6666666667%;
}
.page-second__footer .page-second__footer-wrap .page-second__footer-item span:first-child:hover {
  border: none;
}
.page-second__footer .page-second__footer-wrap .page-second__footer-item span:last-child {
  font-size: calc(14px + 0.2vw);
  line-height: 242.8571428571%;
  font-weight: 400;
}

.title_services {
  padding-top: 3.5897435897%;
}

.services__main-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 7.6923076923%;
  padding-bottom: 4.9572649573%;
}
.services__main-list .services__main-item {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  width: 33%;
}
.services__main-list .services__main-item:nth-child(1), .services__main-list .services__main-item:nth-child(2), .services__main-list .services__main-item:nth-child(3) {
  margin-bottom: 12.8205128205%;
}
.services__main-list .services__main-icon {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.services__main-list .services__main-icon .services__main-icon-wrap {
  width: 25%;
}
.services__main-list .services__main-icon .services__main-title {
  font-size: calc(18px + 0.3vw);
  line-height: 116.6666666667%;
  text-transform: uppercase;
  width: 75%;
}
.services__main-list .services__main-discription {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 75%;
}
.services__main-list .services__main-discription .services__main-upper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: calc(14px + 0.3vw);
  line-height: 114.2857142857%;
  height: calc(45px + 2vw);
}

.devices {
  background: url(./img/bg_gradient_devices.png), url(./img/bg_devices.jpg) no-repeat;
  background-size: cover;
}

.title_devices {
  padding-top: 3.5897435897%;
  margin-bottom: 5.0427350427%;
}

.devices__main-tablet {
  padding-bottom: 44.8717948718%;
  background: url(./img/bg_devices_frame_tablet.png) no-repeat center, url(./img/bg_devices_inner_tablet.png) no-repeat bottom;
  position: relative;
  background-size: cover, contain;
  width: 58.1196581197%;
  margin: 0 auto;
  border-radius: calc(5px + 1.5vw);
}
.devices__main-tablet .devices__main-phone {
  background: url(./img/bg_devices_frame_phone.png) no-repeat center, url(./img/bg_devices_inner_phone.png) no-repeat top;
  position: absolute;
  background-size: cover, 97% 97%;
  border-radius: calc(5px + 1.5vw);
  width: 29.4117647059%;
  padding-bottom: 60.5882352941%;
  top: 41.1428571429%;
  left: calc(50% + 10vw);
}

.devices_container {
  padding-bottom: 2.5641025641%;
}

.services-categories_container {
  padding-top: 3.5897435897%;
  margin-bottom: 7.1794871795%;
}

.accordion_mogo {
  width: 48%;
}
.accordion_mogo > div {
  margin-bottom: 3.8461538462%;
}
.accordion_mogo > div:last-child {
  margin-bottom: 0;
}

.services-categories__main {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #2d3033;
  padding-bottom: 9.7435897436%;
}
.services-categories__main .services-categories-img_wrap {
  width: 48%;
  position: relative;
  padding-bottom: 41.2820512821%;
}
._services-categories-bt {
  font-size: calc(14px + 0.3vw);
  line-height: 114.2857142857%;
  text-transform: uppercase;
}

._services-categories-icon {
  padding-right: 10px;
}

._services-categories-bt-wrap {
  border: 1px solid #c6cbcd;
}

._services-categories-txt {
  font-size: calc(13px + 0.3vw);
  line-height: 115.3846153846%;
  margin-bottom: 0;
}

.feedback_cotainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}
.feedback_cotainer .feedback_cotainer-icon {
  width: 20%;
}
.feedback_cotainer .feedback_cotainer-main {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  color: #a9afb1;
  font-size: calc(14px + 0.5vw);
  line-height: 114.2857142857%;
  font-style: italic;
}
.feedback_cotainer .feedback_cotainer-sub {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  padding-top: 1.7948717949%;
}
.feedback_cotainer .feedback_cotainer-sub .feedback_cotainer-line {
  width: 20%;
}
.feedback_cotainer .feedback_cotainer-sub .feedback_name {
  width: 70%;
  color: #000000;
  font-size: calc(16px + 0.8vw);
  line-height: 144.4444444444%;
}

.carousel_feedback {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0 5px;
}

.team__main-wrap {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 7.1794871795%;
}
.team__main-wrap .team__main {
  width: 31.6239316239%;
}
.team__main-wrap .team__main .team__main-bg-face {
  padding-bottom: 114.5945945946%;
  background: url(./img/team_bg_face.png) no-repeat;
  background-size: cover;
  position: relative;
}
.team__main-wrap .team__main .team__main-bg-opacity {
  background: url(./img/team_bg_opacity.png) no-repeat;
  padding-bottom: 114.5945945946%;
  width: 100%;
  background-size: cover;
  position: absolute;
  opacity: 0;
  transition: 0.8s;
}
.team__main-wrap .team__main .team__main-bg-opacity .team__main-social {
  position: absolute;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
  left: calc(50% - 81px);
  top: calc(50% - 21px);
}
.team__main-wrap .team__main .team__main-bg-opacity .team__main-social .team__main-social-link {
  border: 0.5px solid #e4be8d;
  transition: 0.5s;
}
.team__main-wrap .team__main .team__main-bg-opacity .team__main-social .team__main-social-link:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.team__main-wrap .team__main :hover .team__main-bg-opacity {
  opacity: 1;
  transform: translate(-16px, -16px);
  transition: 0.8s;
  cursor: pointer;
}
.team__main-wrap .team__main .team__main-bg-face2 {
  background: url(./img/team_face2.png) no-repeat;
  background-size: cover;
}
.team__main-wrap .team__main .team__main-bg-face3 {
  background: url(./img/team_face3.png) no-repeat;
  background-size: cover;
}

.team__main-sub {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #2d3033;
  text-transform: uppercase;
}
.team__main-sub .team__main-name {
  font-size: calc(18px + 0.4vw);
  line-height: 250%;
}
.team__main-sub .team__main-prof {
  font-size: calc(14px + 0.3vw);
  line-height: 114.2857142857%;
  font-weight: 400;
}
.title_team {
  margin-bottom: 3.5897435897%;
}

.team__back-and-white-container {
  background: #f8f8f8;
}

.team__back-and-white-list {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2.1367521368% 0;
}
.team__back-and-white-list .team__back-and-white-item {
  width: 15%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.team__back-and-white-list .team__back-and-white-link {
  display: flex;
}
.team__back-and-white-list .team__back-and-white-link .team__back-and-white-img {
  min-width: 0;
  flex: 1;
}

.title_works {
  margin-bottom: 3.5897435897%;
  padding-top: 4.2735042735%;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10.7692307692%;
}
.grid_container .grid_container-item {
  padding-bottom: 100%;
}
.grid_container .grid_container-item:nth-child(1) {
  background: url(./img/works_hoody.png) no-repeat;
  background-size: cover;
}
.grid_container .grid_container-item:nth-child(2) {
  background: url(./img/works_pyramid.png) no-repeat;
  background-size: cover;
}
.grid_container .grid_container-item:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
  background: url(./img/works_sand.png) no-repeat;
  background-size: cover;
}
.grid_container .grid_container-item:nth-child(4) {
  background: url(./img/works_home.png) no-repeat;
  background-size: cover;
}
.grid_container .grid_container-item:nth-child(5) {
  background: url(./img/works_windows.png) no-repeat;
  background-size: cover;
}
.grid_container .grid_container-item:nth-child(6) {
  background: url(./img/works_column.png) no-repeat;
  background-size: cover;
  position: relative;
}
.grid_container .grid_container-item:nth-child(6):hover {
  background: url(./img/works_orange.png) no-repeat, url(./img/works_column.png) no-repeat;
  background-size: cover;
  transition: 0.8s;
}
.grid_container .grid_container-item:nth-child(6):hover .works-item-inner {
  opacity: 1;
  transition: 0.8s;
}
.grid_container .grid_container-item:nth-child(6) .works-item-inner {
  position: absolute;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #ffffff;
  top: calc(40% - 45px);
  left: 0;
  width: 100%;
  opacity: 0;
  transition: 0.8s;
}
.grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-icon-wrap {
  display: flex;
  width: calc(20px + 3vw);
}
.grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-icon-wrap .works-item-icon {
  min-width: 0;
  flex: 1;
}
.grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 11.6666666667%;
}
.grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-title span:first-child {
  font-size: calc(8px + 1.3vw);
  line-height: 210%;
  text-transform: uppercase;
}
.grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-title span:last-child {
  font-size: calc(6px + 1.2vw);
  line-height: 114.2857142857%;
  text-transform: uppercase;
}
.grid_container .grid_container-item:nth-child(7) {
  background: url(./img/works_column2.png) no-repeat;
  background-size: cover;
}

.people-feedback {
  margin-top: 7.1794871795%;
  background: url(./img/bg_people_fog.png) no-repeat, url(./img/bg_people_comm.jpg) no-repeat;
  background-size: cover;
}

.people-feedback__main {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 3.5897435897%;
}

.people-feedback__main-list {
  width: 49%;
  padding-top: 3.5897435897%;
}
.people-feedback__main-list .people-feedback__main-item {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.people-feedback__main-list .people-feedback__main-item .people-feedback__main-img-wrap {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 0 1 30%;
}
.people-feedback__main-list .people-feedback__main-item .people-feedback__main-content {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 69%;
  text-transform: uppercase;
}
.people-feedback__main-list .people-feedback__main-item .people-feedback__main-content .people-feedback__main-name {
  font-weight: 700;
  font-size: calc(18px + 0.5vw);
  line-height: 210%;
}
.people-feedback__main-list .people-feedback__main-item .people-feedback__main-content .people-feedback__main-field {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: calc(14px + 0.5vw);
  line-height: 160%;
  padding-bottom: 8.0894490832%;
  margin-bottom: 8.0894490832%;
  background: url(./img/feedback_underline.png) no-repeat bottom left;
}
.people-feedback__main-list .people-feedback__main-item .people-feedback__main-content .people-feedback__main-about {
  font-size: calc(14px + 0.4vw);
  line-height: 114.2857142857%;
  text-transform: none;
  padding: 5.055905677% 0;
}

.title_stories {
  padding-top: 7.1794871795%;
  margin-bottom: 3.5897435897%;
}

.stories__main-list {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 1 100%;
  margin-bottom: 7.1794871795%;
}
.stories__main-list .stories__main-item {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 0 1 32%;
  margin-right: 0.8547008547%;
}
.stories__main-list .stories__main-item:last-child {
  margin-right: 0;
}
.stories__main-list .stories__main-item .stories__img-wrap {
  position: relative;
  padding-bottom: 65.5270655271%;
}
.stories__main-list .stories__main-item .stories__img-wrap::before {
  content: "15";
  position: absolute;
  background: #95e1d3;
  z-index: 2;
  font-size: calc(24px + 0.3vw);
  line-height: 109.0909090909%;
  width: 21.6216216216%;
  height: 16.6007905138%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: #ffffff;
  top: 58.4980237154%;
  left: -3.7837837838%;
}
.stories__main-list .stories__main-item .stories__img-wrap::after {
  content: "JAN";
  position: absolute;
  background: #95e1d3;
  z-index: 2;
  font-weight: 400;
  font-size: calc(12px + 0.3vw);
  line-height: 187.5%;
  width: 21.6216216216%;
  height: 16.6007905138%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #ffffff;
  top: 74.3083003953%;
  left: -3.7837837838%;
}
.stories__main-list .stories__main-item .stories__txt {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 7.77000777%;
}
.stories__main-list .stories__main-item .stories__txt .stories__title {
  font-size: calc(18px + 0.4vw);
  line-height: 116.6666666667%;
  text-transform: uppercase;
}
.stories__main-list .stories__main-item .stories__txt .stories__article {
  font-size: calc(13px + 0.4vw);
  line-height: 114.2857142857%;
}
.stories__main-list .stories__main-item .stories__statistic-list {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
}
.stories__main-list .stories__main-item .stories__statistic-list .stories__statistic-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: stretch;
  flex-wrap: wrap;
  flex: 0 1 40%;
}
.stories__main-list .stories__main-item .stories__statistic-list .stories__statistic-item .stories__statistic-scores {
  padding-left: 7.77000777%;
  font-size: calc(12px + 0.1vw);
  line-height: 116.6666666667%;
}

.title-upper_stories {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title-main_last {
  color: #f38281;
  margin-bottom: 2vw;
}

.title_last {
  padding: 42px 0;
  background: url(./img/bg_last_fog.png), url(./img/bg_last_main.jpg);
  background-size: cover;
}

.title-underline_last {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

._container-footer {
  max-width: 1170px;
  margin: 0 auto;
}

.footer-list {
  color: #2d3033;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: nowrap;
  margin-bottom: 3.5897435897%;
  flex: 1 1 auto;
  padding: 0 5px;
}
.footer-list .footer_item {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 6.6666666667%;
  margin-right: 10px;
}
.footer-list .footer_item:nth-child(1) {
  flex: 0 1 32%;
}
.footer-list .footer_item:nth-child(2) {
  flex: 0 1 39%;
  min-width: 310px;
}
.footer-list .footer_item:nth-child(3) {
  flex: 0 1 26%;
  justify-content: stretch;
}
.footer-list .footer_item .footer_description {
  font-size: calc(14px + 0.3vw);
  line-height: 133.3333333333%;
  color: #c6cbcd;
  padding: 10px 0;
}
.footer-list .footer_item .footer_followers {
  font-size: calc(18px + 0.1vw);
  line-height: 122.2222222222%;
  padding: 4.0064102564% 0;
  text-transform: uppercase;
  border-bottom: 1px solid #c6cbcd;
  font-style: italic;
}
.footer-list .footer_item .footer_followers span {
  font-weight: 700;
  font-size: calc(30px + 0.1vw);
  line-height: 122.2222222222%;
  text-transform: uppercase;
  font-style: normal;
}
.footer-list .footer_item .footer_followers span:last-child {
  font-size: calc(18px + 0.1vw);
  line-height: 122.2222222222%;
  padding-right: 5px;
}
.footer-list .footer_item .footer_socials {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 9.8824786325%;
}
.footer-list .footer_item .footer_socials .footer_social-txt {
  width: 20%;
  font-style: italic;
  font-size: calc(12px + 0.1vw);
  line-height: 155.5555555556%;
}
.footer-list .footer_item .footer_socials .footer_socials-list {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
}
.footer-list .footer_item .footer__reg {
  display: grid;
  grid-template-columns: 62.5% 35.5235042735%;
  color: #c6cbcd;
}
.footer-list .footer_item .footer__reg .footer_mail {
  background: #ffffff;
  border: 1px solid #c6cbcd;
  padding: 0 10px;
}
.footer-list .footer_item .footer__reg .footer_mail::-moz-placeholder {
  font-size: calc(14px + 0.3vw);
  line-height: 177.7777777778%;
  color: #c6cbcd;
  text-align: center;
}
.footer-list .footer_item .footer__reg .footer_mail:-ms-input-placeholder {
  font-size: calc(14px + 0.3vw);
  line-height: 177.7777777778%;
  color: #c6cbcd;
  text-align: center;
}
.footer-list .footer_item .footer__reg .footer_mail::placeholder {
  font-size: calc(14px + 0.3vw);
  line-height: 177.7777777778%;
  color: #c6cbcd;
  text-align: center;
}
.footer-list .footer_item .footer__reg .footer_bt {
  background: #95e1d3;
  border: none;
  font-size: calc(14px + 0.5vw);
  line-height: 266.6666666667%;
  color: #ffffff;
}
.footer-list .footer_item .footer__blogs-list {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-list .footer_item .footer__blogs-list .footer__blogs-img-wrap {
  position: relative;
  width: 43%;
  padding-bottom: 23.8521168754%;
  margin-bottom: 10px;
}
.footer-list .footer_item .footer__blogs-list .no-margin {
  margin-bottom: 0;
}
.footer-list .footer_item .footer__blogs-list .footer__blogs-item {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 52%;
}
.footer-list .footer_item .footer__blogs-list .footer__blogs-item .footer__blogs-txt {
  font-size: calc(14px + 0.2vw);
  line-height: 123.0769230769%;
  text-transform: uppercase;
}
.footer-list .footer_item .footer__blogs-list .footer__blogs-item .footer__blogs-sub {
  font-size: calc(12px + 0.3vw);
  line-height: 150%;
  padding: 10px 0;
}
.footer-list .footer__blogs {
  font-size: calc(18px + 0.5vw);
  line-height: 140%;
  text-transform: uppercase;
  height: 18%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.footer__instagram-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__instagram-list .footer__instagram-img-wrap {
  position: relative;
  padding-bottom: 97.7777777778%;
}
.footer__instagram-all {
  flex: 1;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.footer__instagram-all .footer__instagram-link {
  font-size: calc(12px + 0.5vw);
  line-height: 116.6666666667%;
  color: #2d3033;
  padding-top: 10px;
}
@media (max-width: 700px) {
  .page-first__nav_container .page-first__nav .page-first__nav-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
  }
  .footer-list .footer_item .footer__reg .footer_mail::-moz-placeholder {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
  }
  .footer-list .footer_item .footer__reg .footer_mail:-ms-input-placeholder {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
  }
  .page-first__nav-footer-item a, .title-main-description, ._services-categories-txt, .grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-title span:last-child, .people-feedback__main-list .people-feedback__main-item .people-feedback__main-content, .stories__main-list .stories__main-item .stories__txt .stories__article, .stories__main-list .stories__main-item .stories__statistic-list .stories__statistic-item .stories__statistic-scores, .footer-list .footer_item, .footer-list .footer_item .footer_socials .footer_social-txt, .footer-list .footer_item .footer__reg .footer_mail::placeholder, .footer-list .footer_item .footer__blogs-list .footer__blogs-item .footer__blogs-sub, .footer__instagram-all .footer__instagram-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
  }
  .page-second__main .page-second__main-card .page-second__bg .page-second__reg-wrap, .feedback_cotainer .feedback_cotainer-main {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
  }
  .page-first__main_container .page-first__title, .page-first__main_container .page-first__button, .page-second__footer .page-second__footer-wrap .page-second__footer-item, .services__main-list .services__main-item, ._services-categories-bt, .team__main-sub, .grid_container .grid_container-item:nth-child(6) .works-item-inner .works-item-title span:first-child, .stories__main-list .stories__main-item .stories__img-wrap::before, .stories__main-list .stories__main-item .stories__img-wrap::after, .stories__main-list .stories__main-item .stories__txt .stories__title, .footer-list .footer_item .footer__reg .footer_bt, .footer-list .footer_item .footer__blogs-list .footer__blogs-item .footer__blogs-txt, .footer-list .footer__blogs {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
  }
  .title-main {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 900;
  }
  .page-first__main_container .page-first__upper, .title-upper, .feedback_cotainer .feedback_cotainer-sub .feedback_name {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
  }
  .page-first__nav_container .page-first__nav .page-first__nav-link:hover, .page-second__footer .page-second__footer-wrap .page-second__footer-item span:first-child:hover, .team__main-sub .team__main-name:hover, .team__main-sub .team__main-prof:hover, .grid_container .grid_container-item:nth-child(6):hover, .footer__instagram-all .footer__instagram-link:hover {
    color: #e4be8d;
    transition: 0.5s;
    cursor: pointer;
  }
  .page-first__nav_container .nav-logo_wrap:hover, .page-first__nav_container .page-first__nav .page-first__nav-icons > :hover, .services__main-list .services__main-icon .services__main-icon-wrap:hover, .team__back-and-white-list .team__back-and-white-item .team__back-and-white-link:hover {
    transition: 0.5s;
    opacity: 0.8;
    cursor: pointer;
  }
  .services-categories__main .services-categories-img_wrap .services-categories-img, .stories__main-list .stories__main-item .stories__img-wrap .stories__img, .footer-list .footer_item .footer__blogs-list .footer__blogs-img-wrap .footer__blogs-img, .footer__instagram-list .footer__instagram-img-wrap .footer__istagram-img {
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .page-first__nav_container .page-first__nav {
    display: none;
  }
  .page-first__nav_container {
    padding: 0 30px;
    background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
  }
  .page-first__nav_container .nav-logo_wrap {
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .page-first__nav_container .page-first__nav_burger {
    display: inline-block;
  }
  .page-first__nav-footer-item a p {
    display: none;
  }
  .page-first__nav-footer {
    padding-top: 10vh;
  }
  .page-first__nav-footer-item {
    width: 15%;
    height: calc(30px + 1vw);
    background: url(./img/upper_line_white.png) no-repeat top;
  }
  .page-first__nav-footer-item:hover {
    background: url(./img/upper_line_red.png) no-repeat left top;
    opacity: 1;
    color: #f38281;
    transition: 0.5s;
    cursor: pointer;
  }
  .page-first__main_container {
    width: 80%;
  }
  .page-first__main_container * {
    margin-bottom: 30%;
  }
  .page-first__main_container :last-child {
    margin-bottom: 0;
  }
  .page-second__main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .page-second__main div {
    margin-bottom: 5%;
  }
  .page-second__main div:last-child {
    margin-bottom: 0;
  }
  .page-second__main .page-second__main-card {
    width: 70%;
    min-width: 300px;
  }
  .page-second__footer .page-second__footer-wrap .page-second__footer-item {
    border: none;
    border-bottom: 1px solid #ffffff;
    margin: 0 10px;
  }
  .page-second__footer .page-second__footer-wrap {
    padding: 0;
  }
  .services__main-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .services__main-list .services__main-item {
    min-width: 230px;
    width: 90%;
  }
  .services__main-list .services__main-item:nth-child(4), .services__main-list .services__main-item:nth-child(5), .services__main-list .services__main-item:nth-child(6) {
    margin-bottom: 12.8205128205%;
  }
  .services-categories__main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .services-categories__main .services-categories-img_wrap,
.accordion_mogo {
    width: 90%;
  }
  .accordion_mogo > div:first-child {
    margin-top: 25px;
  }
  .feedback_cotainer-icon {
    display: none;
  }
  .feedback_cotainer .feedback_cotainer-main {
    width: 100%;
    padding-left: 10px;
  }
  .feedback_cotainer .feedback_cotainer-sub {
    width: 100%;
  }
  .feedback_cotainer .feedback_cotainer-sub .feedback_cotainer-line {
    width: 20%;
  }
  .carousel_feedback {
    width: 93%;
  }
  .team__main-wrap {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .team__main-wrap > div {
    padding-top: 20px;
  }
  .team__main-wrap .team__main {
    min-width: 90%;
    justify-content: center;
  }
  .team__back-and-white-list div:nth-child(1) {
    order: 1;
    width: 40%;
  }
  .team__back-and-white-list div:nth-child(2) {
    order: 2;
    width: 40%;
  }
  .team__back-and-white-list div:nth-child(3) {
    order: 5;
    width: 50px;
    width: 40%;
  }
  .team__back-and-white-list div:nth-child(4) {
    order: 4;
    width: 40%;
  }
  .team__back-and-white-list div:nth-child(5) {
    order: 3;
    width: 100%;
  }
  .team__back-and-white-list div:nth-child(6) {
    order: 6;
    width: 100%;
  }
  .grid_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid_container .grid_container-item:nth-child(1) {
    background: url(./img/works_hoody.png) no-repeat;
    background-size: cover;
  }
  .grid_container .grid_container-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .grid_container .grid_container-item:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/4;
  }
  .grid_container .grid_container-item:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid_container .grid_container-item:nth-child(6) {
    grid-column: 1/3;
    grid-row: 5/6;
    padding-bottom: 50%;
    background-position: center;
  }
  .people-feedback__main-list {
    width: 90%;
  }
  .people-feedback__main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .people-feedback__main-list .people-feedback__main-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .people-feedback__main-list .people-feedback__main-item .people-feedback__main-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .people-feedback__main-list .people-feedback__main-item .people-feedback__main-content .people-feedback__main-about {
    text-align: center;
  }
  .people-feedback__main-list .people-feedback__main-item .people-feedback__main-content .people-feedback__main-field {
    background: url(./img/feedback_underline.png) no-repeat bottom center;
  }
  .people-feedback {
    margin-top: 7.1794871795%;
    background: url(./img/bg_people_fog.png) no-repeat, url(./img/bg_feedback_small.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .stories__main-list .stories__main-item {
    flex: 1 1 90%;
    padding: 0 10px;
  }
  .stories__main-list .stories__main-item .stories__img-wrap::after,
.stories__main-list .stories__main-item .stories__img-wrap::before {
    left: 0;
    width: 6.3627730294%;
    line-height: 120%;
    min-width: 67px;
  }
  .title_last {
    background: url(./img/bg_last_fog.png), url(./img/bg_last_small.png);
    background-size: cover;
    background-position: center;
  }
  .footer-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-list .footer__blogs {
    text-align: center;
  }
  .footer-list .footer_item:nth-child(1),
.footer__instagram-all .footer__instagram-link {
    text-align: center;
  }
  .footer-list .footer_item:nth-child(1),
.footer-list .footer_item:nth-child(2),
.footer-list .footer_item:nth-child(3) {
    width: 70%;
  }
  .footer-list .footer_item {
    margin-right: 0;
  }
}
@media (max-width: 1000px) {
  .footer-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer-list .footer_item:nth-child(1),
.footer-list .footer_item:nth-child(2),
.footer-list .footer_item:nth-child(3) {
    width: 90%;
    min-width: 256px;
    flex: 1 1 40%;
  }
  .footer-list .footer_item:nth-child(3) {
    width: 90%;
    flex: 0 1 40%;
  }
}/*# sourceMappingURL=style.css.map */