$width-main-left: 57%;
$width-main-form: 41%;
$width-main-container: 1170;
$width-main-left-number: 0.57;
$width-main-form-number: 0.41;
$FZmain: 10px;

%link {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
	color: #ffffff;
	text-decoration: none;
}

%button {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	height: 58px;
	background: none;
	border: 2px solid #ffffff;
	color: #ffffff;
	text-decoration: none;
}
